@font-face {
    font-family: 'MiniSansSerif';
    src: url('./fonts/MINISansSerif.ttf');
}

body {
    background: rgb(138,143,153);
    background: linear-gradient(90deg, rgba(138,143,153,1) 0%, rgba(124,100,156,1) 100%);
    color: black;
    font-family: 'MiniSansSerif', sans-serif;
}



button {
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 30px;

  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  
}

.red {
  color: red;
}

button:hover {
  background-color: #fff;
  color: black;
}


@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

